body {
  font-family: system-ui, sans-serif;
  text-align: center;
  background: #111;
  color: #fff;
  padding: 30px;
}

input, select {
  padding: 12px;
  font-size: 18px;
  border-radius: 6px;
  width: 80%;
}

.player {
  background: #222;
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
}

.teamBlock {
  background: #333;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

.buzz-button {
  width: 80%;
  height: 200px;
  font-size: 40px;
  background: #d40000;
  color: white;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
}

button {
  cursor: pointer;
  border-radius: 8px;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
}
